.table {
  border-radius: 12px;
  align-items: center;
}

.table-row{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.icons-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.deleteIcon, .detailsIcon, .blockIcon{
  padding: 0px 10px;
}

i{
  color: #1677ff !important;
}

i :hover {
  color: rgb(160, 9, 9) !important;
  cursor: pointer;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.info {
  display: flex;
  justify-content: center;
}

.row {
  padding: 0px 10px;
}

.blockIcon span {
  display: flex;
}

@media only screen and (min-width: 561px) {
  .table-row {
    margin: 30px 100px;
    text-align: left;
  }


@media only screen and (min-width: 661px) {
  .table-row {
    margin: 30px 200px;
    text-align: left;
  }
}

@media only screen and (min-width: 861px) {
  .table-row {
    margin: 30px 250px;
    text-align: left;
  }
}

@media only screen and (min-width: 962px) {
  .table-row {
    margin: 30px 250px;
  }
}

@media only screen and (min-width: 1162px) {
  .table-row {
    margin: 30px 300px;
  }
}

@media only screen and (min-width: 1262px) {
  .table-row {
    margin: 30px 350px;
  }
}

@media only screen and (min-width: 1362px) {
  .table-row {
    margin: 30px 400px;
  }
}

@media only screen and (min-width: 1462px) {
  .table-row {
    margin: 30px 450px;
  }
}

@media only screen and (min-width: 1562px) {
  .table-row {
    margin: 30px 500px;
  }
}

@media only screen and (min-width: 1662px) {
  .table-row {
    margin: 30px 550px;
  }
}

@media only screen and (min-width: 1762px) {
  .table-row {
    margin: 30px 600px;
    font-size: 18px;
  }
  .deleteIcon, .detailsIcon {
    font-size: 25px;
  }
}